{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Alexander's Resume</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href='{% static "assets/img/favicon.png" %}' rel="icon">
    <link href='{% static "assets/img/apple-touch-icon.png" %}' rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href='{% static "assets/vendor/aos/aos.css" %}' rel="stylesheet">
    <link href='{% static "assets/vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">
    <link href='{% static "assets/vendor/bootstrap-icons/bootstrap-icons.css" %}' rel="stylesheet">
    <link href='{% static "assets/vendor/boxicons/css/boxicons.min.css" %}' rel="stylesheet">
    <link href='{% static "assets/vendor/glightbox/css/glightbox.min.css" %}' rel="stylesheet">
    <link href='{% static "assets/vendor/swiper/swiper-bundle.min.css" %}' rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href='{% static "assets/css/style.css" %}' rel="stylesheet">

    <!-- =======================================================
  * Template Name: MyResume - v4.10.0
  * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
    {% block content %} 

    
    {% endblock content %}

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Create New Portfolio</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="." method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row" class="col-lg-6 form-group gsap-reveal">
                        <div class="col-12 mt-4">
                            <input type="file" id="photo" name="photo" class="form-control"
                                placeholder="Upload Photo" />
                        </div>
                        <div class="col-12 mt-4">
                            <input type="text" id="title" name="title" class="form-control"
                                placeholder="Enter Title" style="color:white;" />
                        </div>
                        <div class="col-12 mt-4">
                            <textarea name="description" id="description" cols="30" rows="5" class="form-control"
                                placeholder="Enter Description" style="color:white;"></textarea>
                        </div>
                        <div class="col-12 mt-4">
                            <input type="text" id="tags" name="tags" class="form-control"
                                placeholder="Enter TAGS (Separate by ',') example: HTML, JS, etc"
                                style="color:white;" />
                        </div>
                        <div class="col-12 mt-4">
                            <input type="text" id="url" name="url" class="form-control"
                                placeholder="Enter URL Project" style="color:white;" />
                        </div>
                        <div class="col-12 d-grid mt-4">
                            <button type="submit" class="btn btn-primary">
                                Create
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Send message</button>
            </div>
          </div>
        </div>
      </div>


      <!-- Modal -->
      <div class="modal" id="exampleModal123" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="mt-5">
            <div class="card  bg-dark" style="width: 30%; margin: auto" class="form-outline-style-v1">
                <div class="card-body">
                    <h2>Create</h2>
                    <!-- enctype="multipart/form-data" -->
                    
                </div>
            </div>
        </div>
    </div>

</body>

</html>